<div id="menu-wrap" class="hidden-xs">
    <div id="admin-login">
        <img src="__PUBLIC__/images/b1.png" style="width: 100%">
    </div>
    <div id="menu-content">
        <ul class="list-unstyled">
            {volist name="menu_tree" id="val"}
            <li>
                <a class="main-menu" href="javascript:"><i class="fa {$val.icon}"></i>{$val.title}<i class="fa fa-angle-up fa-pull-right"></i></a>
                <ul class="list-unstyled sub-menu sub-menu-o">
                    {volist name="$val['child_menu']" id="vo"}
                    <li>
                        <a href="{:url($vo['url'])}"><i class="fa {$vo['icon']}"></i>{$vo['title']}</a>
                    </li>
                    {/volist}
                </ul>
            </li>
            {/volist}
        </ul>
    </div>
</div>