<div id="menu-wrap" class="hidden-xs">
    <div id="admin-login">
        <img src="__PUBLIC__/images/b1.png" style="width: 100%">
    </div>
    <div id="menu-content">
        <ul class="list-unstyled">
            <li>
                <a class="main-menu" href="javascript:"><i class="fa fa-home"></i>首页<i class="fa fa-angle-up fa-pull-right"></i></a>
                <ul class="list-unstyled sub-menu sub-menu-o">
                    <li>
                        <a href="#"><i class="fa fa-bar-chart"></i>数据汇总</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-tags"></i>系统信息</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart"></i>数据汇总</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-tags"></i>系统信息</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart"></i>数据汇总</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-tags"></i>系统信息</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="main-menu" href="javascript:"><i class="fa fa-home"></i>首页<i class="fa fa-angle-down fa-pull-right"></i></a>
                <ul class="list-unstyled sub-menu">
                    <li>
                        <a href="#"><i class="fa fa-bar-chart"></i>数据汇总</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-tags"></i>系统信息</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart"></i>数据汇总</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-tags"></i>系统信息</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="main-menu" href="javascript:"><i class="fa fa-home"></i>首页<i class="fa fa-angle-down fa-pull-right"></i></a>
                <ul class="list-unstyled sub-menu">
                    <li>
                        <a href="#"><i class="fa fa-bar-chart"></i>数据汇总</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-tags"></i>系统信息</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>