<div id="menu-wrap" class="hidden-xs">
    <div id="admin-login">
        <img src="__PUBLIC__/images/b1.png" style="width: 100%">
    </div>
    <div id="menu-content">
        <ul class="list-unstyled">
            {volist name="menu_tree" id="val"}
            <li>
                {php}if(get_menu_open($val['id'])){{/php}
                <a class="main-menu" href="javascript:"><i class="fa {$val.icon}"></i>{$val.title}<i class="fa fa-angle-up fa-pull-right"></i></a>
                {php}}else{{/php}
                <a class="main-menu" href="javascript:"><i class="fa {$val.icon}"></i>{$val.title}<i class="fa fa-angle-down fa-pull-right"></i></a>
                {php}}{/php}
                <ul class="list-unstyled sub-menu {php}if(get_menu_open($val['id'])){ echo 'sub-menu-o';}{/php}">
                    {volist name="$val['child_menu']" id="vo"}
                    <li>
                        {php}if(strtolower(request()->controller())==$vo['code']){{/php}
                        <a href="{:url($vo['url'])}" class="active"><i class="fa {$vo['icon']}"></i>{$vo['title']}</a>
                        {php}}else{{/php}
                        <a href="{:url($vo['url'])}"><i class="fa {$vo['icon']}"></i>{$vo['title']}</a>
                        {php}}{/php}
                    </li>
                    {/volist}
                </ul>
            </li>
            {/volist}
        </ul>
    </div>
</div>